@page "/about"

<h2>Project 2: Image Retrieval - Truy vấn hình ảnh</h2>

<pre>
Thành viên:
    1. CH1901017 - Phạm Hữu Danh
    2. CH1901024 - Trần Cao Khánh Ngọc
</pre>
<br/>
<pre>
Cài đặt một hệ thống tìm kiếm ảnh, có các tính năng:
    - Có giao diện người dùng, ít nhất cần có module nhập ảnh query và danh sách ảnh kết quả.
    - Sử dụng bộ dữ liệu Oxford Building (5K), http://www.robots.ox.ac.uk/~vgg/data/oxbuildings/
    - Cho phép người dùng lựa chọn một vùng ảnh thay vì toàn bộ ảnh làm query.
    - Sử dụng thư viện hỗ trợ FASTER của Microsoft để lưu tạm dữ liệu trên bộ nhớ, tối ưu tốc độ tìm kiếm.
</pre>